
@{
    Layout = null;
    ViewBag.Title = "Autenticação";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { autocomplete = "off" }))
    {

        Html.ValidationSummary();
        Html.AntiForgeryToken();

        <div>
            <div>E-mail</div>
            <div>@Html.TextBox("email")</div>
        </div>

        <div>
            <div>Senha</div>
            <div>@Html.Password("senha")</div>
        </div>

        <div>@TempData["mensagem"]</div>

        <div><input type="submit" value="Autenticar" /></div>
    }

</body>
</html>
